<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>항상 날씨 정보를 가져오기 위해 위치정보가 필요합니다.</string>
    <key>NSLocationUsageDescription</key>
    <string>날씨 정보를 가져오기 위해 정보가 필요합니다.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>날씨 정보를 가져오기 위해 위치 정보가 필요합니다.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>위젯에서 날씨 정보를 업데이트하기 위해 위치 정보가 필요합니다.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widgetkit-extension</string>
    </dict>
</dict>
</plist>
